.box {
  padding: 3.2rem 2.4rem;
  border-radius: 2px 2px 0 0;
  background-color: #222;
  font-size: 2.4rem;
  color: #eee;
  font-weight: 400;
  font-family: "DM Mono", monospace;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.generatedPassword {
  overflow-x: auto;
}

.icons {
  display: flex;
  gap: 3.2rem;
}

.icon {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}

.passwordStrength {
  height: 0.8rem;
  border-radius: 0 0 2px 2px;
  transition: all 0.1s ease-out;
}

.number {
  color: #72cfec;
}

.symbol {
  color: #ff9549;
}

.copyToClipboard {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 100%) scale(0);
  color: #ddd;
  padding: 0.8rem 1.2rem;
  background-color: #333;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.dropDown {
  transform: translate(-50%, 54.5rem) scale(1);
  opacity: 1;
}

@media (max-width: 85rem) {
  .box {
    font-size: 2rem;
    gap: 2.4rem;
  }

  .icons {
    gap: 2.4rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 65rem) {
  .box {
    gap: 2rem;
  }

  .icons {
    gap: 2rem;
  }
}
